@{
    CurtAdmin.Models.ConvertedPart part = new CurtAdmin.Models.ConvertedPart();
    List<CurtAdmin.IncludedPart> included_parts = new List<CurtAdmin.IncludedPart>();
    if (ViewBag.part != null) { part = ViewBag.part; }
    if (ViewBag.included_parts != null) { included_parts = ViewBag.included_parts; }
    ViewBag.Title = "CURT Admin - Included Parts with " + part.shortDesc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #tableContainer
    {
        display:none;
    }
</style>

@{Html.RenderPartial("PartMenu");}

<div id="content_container">
    <h2>Add Parts included with Part #@part.partID - @part.shortDesc</h2>

    <hr style="margin: 10px 0px; border-bottom: 1px dotted #343434;with:95%;margin:auto;" />

    <div style="clear:both"></div>
    <div id="loading_area">
        <p>Loading parts...</p>
        <img src="@Url.Content("~/Content/img/ajax_loader.gif")" alt="Loading vehicles..." />
    </div>

    <div id="tableContainer">
        <h3>Included Parts</h3>
        <table id="includedParts">
            <thead>
                <tr>
                    <th>Part #</th>
                    <th>Qty</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CurtAdmin.IncludedPart ip in included_parts) {
                    <tr id="included:@ip.includedID">
                        <td>@ip.includedID</td>
                        <td>@ip.quantity</td>
                        <td>
                            <a href="javascript:void(0)" title="Remove @ip.includedID" class="remove center removeincluded_@(ip.includedID)" id="@ip.includedID">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr style="border-bottom: 1px dotted #343434;width:95%;margin:auto;" />

        <h3>Add a Part</h3>
        <label for="addPart">Part # <input type="text" id="addPart" data-id="@part.partID" placeholder="Enter a part number" /></label>
        <label for="quantity">Qty <input type="number" id="quantity" placeholder="Enter a quantity" value="1" /></label>
        <button id="submitPart">Add</button>
    </div>
    <input type="hidden" name="partID" id="partID" value="@part.partID" />
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/admin/Product/EditIncluded.js")"></script>