@{
    ViewBag.Title = "Edit ACES Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CurtAdmin.Models.ConvertedPart part = ViewBag.part;
    List<CurtAdmin.BaseVehicle> vehicles = ViewBag.part_vehicles ?? new List<CurtAdmin.BaseVehicle>();
    List<CurtAdmin.ConfigAttributeType> configs = ViewBag.configs ?? new List<CurtAdmin.ConfigAttributeType>();
    List<string> configval = new List<string>();
}

@{Html.RenderPartial("PartMenu");}

<div id="content_container">
    <h2>Edit Vehicles for part #@part.partID - @part.shortDesc</h2>
    <hr style="border-bottom: 1px dotted #343434;clear:right" />
    <ul class="vehicles" id="vehicleData">
        @foreach(CurtAdmin.BaseVehicle bv in vehicles) {
            <li>@bv.YearID @bv.vcdb_Make.MakeName @bv.vcdb_Model.ModelName
                <ul class="submodels">
                    @foreach(CurtAdmin.Submodel s in bv.vcdb_Vehicles.Where(x => x.SubModelID != null).Select(x => x.Submodel).Distinct().OrderBy(x => x.SubmodelName)) {
                        <li>@s.SubmodelName
                            @if(bv.vcdb_Vehicles.Where(x => x.SubModelID.Equals(s.ID)).Any(x => x.ConfigID != null)) {
                                <a href="#" class="showConfig">Show Configs</a>
                                <table class="configs">
                                    <thead>
                                        <tr>
                                        @foreach (CurtAdmin.ConfigAttributeType config in bv.vcdb_Vehicles.Where(x => x.SubModelID.Equals(s.ID)).SelectMany(x => x.VehicleConfig.VehicleConfigAttributes).Select(x => x.ConfigAttribute.ConfigAttributeType).Distinct().OrderBy(x => x.sort)) {
                                            <th>@config.name</th>
                                        }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(CurtAdmin.VehicleConfig vconfig in bv.vcdb_Vehicles.Where(x => x.SubModelID.Equals(s.ID)).Select(x => x.VehicleConfig)) {
                                        <tr>
                                            @foreach (CurtAdmin.ConfigAttributeType config in bv.vcdb_Vehicles.Where(x => x.SubModelID.Equals(s.ID)).SelectMany(x => x.VehicleConfig.VehicleConfigAttributes).Select(x => x.ConfigAttribute.ConfigAttributeType).Distinct().OrderBy(x => x.sort)) {
                                                configval = vconfig.VehicleConfigAttributes.Where(x => x.ConfigAttribute.ConfigAttributeTypeID.Equals(config.ID)).Select(x => x.ConfigAttribute.value).ToList<string>();
                                                <td>@((configval.Count == 0) ? "" : configval.Aggregate((i, j) => i + " " + j))</td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

<script src="/Scripts/admin/Product/EditACESVehicles.js"></script>