@{
    ViewBag.Title = "Edit Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CurtAdmin.B2BAnswer answer = ViewBag.answer ?? new CurtAdmin.B2BAnswer();
    
    string msg = ViewBag.msg;
    if (msg == null)
    {
        msg = "";
    }

}
<style>
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px;  
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/fileiframe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/selectfile.js")"></script>
<div id="breadcrumbs"><a href="/Admin_B2B">B2B</a> > <a href="/Admin_B2B/ViewCerts">View Certificates</a> > <a href="/Admin_B2B/ViewCats/@answer.B2BQuestion.B2BTest.B2BCategory.certID">View Categories</a> > <a href="/Admin_B2B/ViewTests/@answer.B2BQuestion.B2BTest.catID">View Tests</a> > <a href="/Admin_B2B/ViewQuestions/@answer.B2BQuestion.testID">View Questions</a> > <a href="/Admin_B2B/ViewAnswers/@answer.questionID">View Answers</a> > Edit Answer</div>
<div id="content_container">
    <h2>Edit Answer ID# @answer.id</h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    @if (msg.Length > 0)
    {
        <p style="font-weight: bold; color: Green;">@ViewBag.msg</p>
    }
    <form action="/Admin_B2B/EditAnswer/@answer.id" method="post" class="form_left">
        <label for="text">
            Answer text
            <input type="text" name="text" id="text" value="@answer.text" />
        </label>

        <label for="isCorrect">
            Correct Answer
            @if (answer.isCorrect == true)
            {
                <input type="checkbox" name="isCorrect" id="isCorrect" checked="checked" />
            }
            else
            {
                <input type="checkbox" name="isCorrect" id="isCorrect"/>
            }
        </label>

        <label for="inactive">
            Inactive?
            @if (answer.inactive == true)
            {
                <input type="checkbox" name="inactive" id="inactive" checked="checked"/>
            }
            else
            {
                <input type="checkbox" name="inactive" id="inactive"/>
            }
        </label>
        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnSubmit').live('click', function () {
            var errors = 0;
            $.each($('input:required'), function (i, input) {
                if ($(this).val().length == 0) { $(this).css('border', '3px inset #bd0100'); errors++; }
            });
            if (errors > 0) {
                showMessage('Please fix the errors outlined in red.');
                return false;
            }
        });
    });
</script>
<div id="file-dialog"></div>