@{
    ViewBag.Title = "Edit Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CurtAdmin.B2BCertificate cert = new CurtAdmin.B2BCertificate();
    if(ViewBag.cert != null){
        cert = ViewBag.cert;
    }
    
    string msg = ViewBag.msg;
    if (msg == null)
    {
        msg = "";
    }

}
<style>
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px;  
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/fileiframe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/selectfile.js")"></script>
<div id="breadcrumbs"><a href="/B2B">B2B</a> > <a href="/B2B/ViewCerts">View Certificates</a> > Edit Certificate</div>
<div id="content_container">
    <h2>Edit Certificate: @cert.title</h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    @if (msg.Length > 0)
    {
        <p style="font-weight: bold; color: Green;">@ViewBag.msg</p>
    }
    <form action="/B2B/EditCert/@cert.id" method="post" class="form_left">
        <label for="title">
            Certificate Name
            <input type="text" name="title" id="title" value="@cert.title" required />
        </label>

        <label for="text">
            Short Description
            <input type="text" name="text" id="text" value="@cert.text" />
        </label>

        <label for="reqNum">
            Number of tests needed to complete:
            <input type="text" name="reqNum" id="reqNum" value="@cert.requirementNum" />
        </label>

        <label for="logo">
            Badge Image
            <input type="hidden" name="logo" id="file" value="@cert.image_path" />
            <div id="photobox">
                <div id="photo-file">
                    <img src="@cert.image_path" alt="Saved Image" />
                </div>
                <button type="button" id="choose-photo">Choose</button>
                <button type="button" id="clear-photo">Clear</button>
            </div>
            <div style="clear:both"></div>
        </label>

        <label for="inactive">
            Inactive?
            @if (cert.inactive == true)
            {
                <input type="checkbox" name="inactive" id="inactive" checked="checked"/>
            }
            else
            {
                <input type="checkbox" name="inactive" id="inactive"/>
            }
        </label>

        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnSubmit').live('click', function () {
            var errors = 0;
            $.each($('input:required'), function (i, input) {
                if ($(this).val().length == 0) { $(this).css('border', '3px inset #bd0100'); errors++; }
            });
            if (errors > 0) {
                showMessage('Please fix the errors outlined in red.');
                return false;
            }
        });
    });
</script>
<div id="file-dialog"></div>