@{
    ViewBag.Title = "View Answers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CurtAdmin.B2BQuestion question = new CurtAdmin.B2BQuestion();
    if(ViewBag.question != null){
        question = ViewBag.question;   
    }

    List<CurtAdmin.B2BAnswer> listOfAnswers = new List<CurtAdmin.B2BAnswer>();
    if(ViewBag.listOfAnswers != null){
        listOfAnswers = ViewBag.listOfAnswers;   
    }

    string msg = ViewBag.msg;
    if (msg == null)
    {
        msg = "";
    }
}
    <style type="text/css">
    table tbody tr td:nth-child(7){
        text-align: center;
    }
    
    h2{
        float:left;
    }
    
    #addAnswer, #editTest{
        float:right;
    }
    
    #massUpload{
        margin-top: 30px;
    }
    
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px;  
    }
</style>
<div id="breadcrumbs"><a href="/Admin_B2B/">B2B</a> > <a href="/Admin_B2B/ViewCerts">Certificates</a> > <a href="/Admin_B2B/ViewCats/@question.B2BTest.B2BCategory.certID">Categories</a> > <a href="/Admin_B2B/ViewTests/@question.B2BTest.catID">Tests</a> > <a href="/Admin_B2B/ViewQuestions/@question.testID">Questions</a> > Answers</div>
<div id="content_container">
    <h2>Viewing B2B Answers for question #@question.id.</h2>
    <a href="/Admin_B2B/AddAnswer/@question.id" title="Add Answer" id="addAnswer" class="button">
        Add Answer
    </a>
    <hr style="border-bottom:1px dotted #343434;clear:both" />
    <!-- Explain what's here (for Chris) -->
    <p>This page is for viewing all of the answers from a question and to modify them accordingly. Question # @question.id refers to the ID of the question from the previous page.</p>
    <div id="loading_area">
        <p>Loading Answers...</p>
        <img src="@Url.Content("~/Content/img/ajax_loader.gif")" alt="Loading Answers" />
    </div>
    <table style="display: none;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Date Modified</th>
                <th>Is correct</th>
                <th>Is inactive</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.B2BAnswer ans in listOfAnswers)
            {
                <tr>
                    <td>@ans.id</td>
                    <td>@ans.text</td>
                    <td>@ans.date_modified</td>
                    <td>@ans.isCorrect</td>
                    <td>@ans.inactive</td>
                    <td>
                        <a href="/Admin_B2B/EditAnswer/@ans.id" class="edit">Edit</a> | 
                        <a href="javascript:void(0)" class="delete" id="@ans.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var answersTable = "";
    $(function () {
        answersTable = $('table').dataTable({ "bJQueryUI": true, "bDeferRender": true });
        $('#loading_area').hide();
        $('table').fadeIn('fast');
        $('.delete').live('click', function () {
            var answerID = $(this).attr('id');
            var table_row = $(this).parent().parent().get()[0];
            if (answerID > 0 && confirm('Are you sure you want to delete this Answer?')) {
                $.get('/Admin_B2B/DeleteAnswer/' + answerID, function (response) {
                    if (response.length == 0) {
                        answersTable.fnDeleteRow(table_row);
                    } else {
                        showMessage(response);
                    }
                }, "html");
            }
        });
    });
</script>