@using CurtAdmin
@using CurtAdmin.Models.B2b
@{
    ViewBag.Title = "View User Lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string msg = ViewBag.msg;
    if (msg == null)
    {
        msg = "";
    }
    B2BUser B2BUser = ViewBag.B2BUser ?? new B2BUser();
    B2BFullUser B2BFullUser = ViewBag.B2BFullUser ?? new B2BFullUser();
    List<B2BCompletedTest> Lessons = ViewBag.Lessons ?? new List<B2BCompletedTest>();
    B2BCertificate cert = ViewBag.cert ?? new B2BCertificate();
    
}
    <style type="text/css">
    table tbody tr td:nth-child(7){
        text-align: center;
    }
    
    h2{
        float:left;
    }
    
    #addCert, #massUpload{
        float:right;
    }
    
    #massUpload{
        margin-top: 30px;
    }
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px;  
    }
</style>
<div id="breadcrumbs"><a href="/B2B">B2B</a> > <a href="/B2B/ViewUsers">View Users</a> > <a href="/B2B/ViewUser/@B2BFullUser.b2bUserID">View User Completed Certificates</a> > View User Completed Lessons</div>
<div id="content_container">
    <h2>Viewing B2B @(cert.title) Tests for: @B2BFullUser.name </h2>
    <hr style="border-bottom:1px dotted #343434;clear:both" />
    <!-- Explain what's here (for Chris) -->
    <p>This page is for viewing all of the lessons under the @cert.title certificate</p>
    <hr />
    <h3>Completed Tests for @cert.title</h3>
    <div id="loading_area">
        <p>Loading Completed Lessons...</p>
        <img src="@Url.Content("~/Content/img/ajax_loader.gif")" alt="Loading Completed Lessons" />
    </div>
    <table id="completedLessons" style="display: none;">
        <thead>
            <tr>
                <th>Test Title</th>
                <th>Date completed</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (B2BCompletedTest compLesson in B2BUser.B2BCompletedTests)
            {
                <tr>
                    <td>@(compLesson.B2BTests.FirstOrDefault().title)</td>
                    <td>@compLesson.date_completed</td>
                    <td>@compLesson.score</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var certTable = "";
    $(function () {
        certTable = $('table').dataTable({ "bJQueryUI": true, "bDeferRender": true });
        $('#loading_area').hide();
        $('table').fadeIn('fast');
        $('.delete').live('click', function () {
            var certID = $(this).attr('id');
            var table_row = $(this).parent().parent().get()[0];
            if (certID > 0 && confirm('Are you sure you want to delete this certificate?')) {
                $.get('/B2B/DeleteCert/' + certID, function (response) {
                    console.log(response);
                    if (response.length == 0) {
                        certTable.fnDeleteRow(table_row);
                    } else {
                        showMessage(response);
                    }
                }, "html");
            }
        });
    });
</script>


