@using CurtAdmin.Models;
@{
    ViewBag.Title = "Website Management";
    ViewBag.navigation = "_WebsiteNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.Website> websites = ViewBag.websites;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/jquery.easing.1.3.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/website_menus.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/cms.js")"></script>

<div id="content_container">
    <h2>Which website would you like to edit?</h2>
    <ul class="websites">
        @foreach (CurtAdmin.Website site in websites) {
            <li><a href="/Website/ChooseWebsite/@site.ID">@site.description (@site.url)</a></li>
        }
    </ul>
</div>