@model CurtAdmin.FileType

@{
    ViewBag.Title = "Add a File Type";
    ViewBag.navigation = "_FileNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CurtAdmin.FileType type = ViewBag.type;
    string error = ViewBag.error;
}
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/FileExt")" class="active">Extensions</a>
    </li>
    <li>
        <a href="@Url.Content("~/FileExt/Types")">Types</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/FileExt/AddType")">Add Type</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/FileExt/AddExtension")">Add Extension</a>
    </li>
</ul>
<div id="content_container">
    <h2>Edit File Type</h2>

    @if (error.Length != 0) {
        <p style="font-weight: bold; color: Red;">@error</p>
    }
    <form action="/FileExt/EditType/@type.fileTypeID" Method="post" class="form_left">
        <!-- Item Name -->
        <label for="fileType">
            Name
            <input type="text" name="fileType" id="fileType" placeholder="Enter name..." value="@((Request.Form["fileType"] != null) ? Request.Form["fileType"] : type.fileType1)" />
        </label>

        <div id="buttons">
            <input type="submit" name="btnSave" id="btnSave" value="Save" />
            <input type="reset" name="btnReset" id="btnReset" value="Reset" />
        </div>
    </form>
</div>