@{
    ViewBag.Title = "CURT Documentation - Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="usersNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Users")">View Users</a>
        </li>
        <li>
            <a href="@HttpContext.Current.Request.Url.AbsoluteUri" class="active">Add New</a>
        </li>
    </ul>
</div>


<div id="content_container">

    <h2>Add New User</h2>

    @if (ViewBag.error_messages != null && ViewBag.error_messages.Count > 0) {
        <div style="padding:5px;border:2px solid #343434;background:#827d70;width:60%;margin-bottom: 20px">
            <p style="color:whitesmoke;text-decoration:underline;font-size:14pt;margin-left:40px">Please fix the following errors:</p>
            <ul style="list-style: none">
                @foreach (string message in ViewBag.error_messages) {
                    <li>- @message</li>
                }
            </ul>
        </div>
    }

    <form method="post" action="@HttpContext.Current.Request.Url.AbsoluteUri" id="newUser_form" class="form">
        <div id="newUser_form_left" class="form_left">
            <!-- Username -->
            <label for="username">
                Username
                <input type="text" name="username" id="username" placeholder="Enter username..." value="@ViewBag.username" required="required" /><br />
                <span class="inputHelper">Username must be at least 8 characters. * Required</span>
            </label>

            <!-- Initial Password -->
            <label for="password1">
                Password
                <input type="password" name="password1" id="password1" placeholder="Enter password..." required="required" /><br />
                <span class="inputHelper">Password must be at least 8 characters. * Required</span>
            </label>

            <!-- Password validation -->
            <label for="password2">
                Re-enter Password
                <input type="password" name="password2" id="password2" placeholder="Re-enter password..." required="required" /><br />
                <span class="inputHelper">Validate password. * Required</span>
            </label>

            <!-- E-Mail Address -->
            <label for="email">
                E-Mail
                <input type="email" name="email" id="email" placeholder="Enter e-mail address..." value="@ViewBag.email" required="required" /><br />
                <span class="inputHelper">* Required</span>
            </label>

            <!-- First Name -->
            <label for="fname">
                First Name
                <input type="text" name="fname" id="fname" placeholder="Enter first name..." value="@ViewBag.fname" />
            </label>

            <!-- Last Name -->
            <label for="lname">
                Last Name
                <input type="text" name="lname" id="lname" placeholder="Enter last name..." value="@ViewBag.lname" />
            </label>

            <!-- Website -->
            <label for="website">
                Website
                <input type="text" name="website" id="website" placeholder="http://" value="@ViewBag.website" />
            </label>

            <!-- Phone -->
            <label for="phone">
                Phone
                <input type="text" name="phone" id="phone" placeholder="Enter phone number..." value="@ViewBag.phone" pattern="^[0-9]{10}" /><br />
                <span class="inputHelper">Example: 7155550550</span>
            </label>

            <!-- Fax -->
            <label for="fax">
                Fax
                <input type="text" name="fax" id="fax" placeholder="Enter fax number..." value="@ViewBag.fax" pattern="^[0-9]{10}" /><br />
                <span class="inputHelper">Example: 7154446655</span>
            </label>

            <!-- Comments -->
            <label for="comments">
                Comments<br />
                <textarea rows="5" cols="65" name="comments" id="comments" placeholder="Enter comments about user...">@ViewBag.comments</textarea>
            </label><br/>

            <!-- Biography -->
            <label for="biography">
                Biography<br />
                <textarea rows="5" cols="65" name="biography" id="biography" placeholder="Enter user biography...">@ViewBag.biography</textarea>
            </label><br/>

            <label for="photo">Photo</label>
            <input type="hidden" name="photo" id="file" value="@ViewBag.photo" />
            <div id="photobox">
                <div id="photo-file">
                    @if (ViewBag.photo != null && ViewBag.photo != "") {
                        <img src="@ViewBag.u.photo" alt="photo" />
                    } else {
                        <img src="/Content/img/nophoto.jpg" alt="No Photo" />
                    }
                </div>
                <button type="button" id="choose-photo">Choose</button>
                <button type="button" id="clear-photo">Clear</button>
            </div>
            
            <div style="clear:both"></div>
            <div id="buttons">

                <span id="formMessage"></span>

                <!-- Submit -->
                <input type="submit" name="btnSaveUser" id="btnSaveUser" value="Save" />

                <!-- Reset -->
                <input type="reset" name="btnResetUser" id="btnResetUser" value="Reset" />
            </div>
        </div>
        
        <div class="form_right">

            <!-- Admin modules -->
            <div id="adminModules" class="moduleContainer">
                <h4>Modules</h4>
                @foreach (CurtAdmin.module m in ViewBag.allmodules) {
                    List<string> these_modules = ViewBag.selected_modules;
                    <label for="module:@m.moduleID">
                        @m.module1
                        <input type="checkbox" name="module" id="module:@m.moduleID" value="@m.moduleID" @((these_modules.Contains(m.moduleID.ToString()))?"checked":"") />
                    </label>
                }
            </div>
            
            <div id="activeUser" class="moduleContainer">
                <h4>User Access Layer</h4>
                <label for="isActive">
                    Is Active?
                    <input type="checkbox" name="isActive" id="isActive" value="1" @((ViewBag.isActive == 1)?"checked":"") />
                </label>
                @if (Convert.ToInt32(Session["superUser"]) == 1) {
                    <label for="isActive">
                        Super User?
                        <input type="checkbox" name="superUser" id="superUser" value="1" @((ViewBag.superUser == 1) ? "checked" : "") />
                    </label>
                }
            </div>

        </div>
        <div style="clear:both"></div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/fileiframe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/users_home.js")"></script>
<div id="file-dialog"></div>
