@{
    ViewBag.Title = "CURT Documentation - View Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.category> categories = ViewBag.categories;
}
<script type="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<div id="usersNav">
    <ul>
        <li>
            <a href="@HttpContext.Current.Request.Url.AbsoluteUri" class="active">View Categories</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Category/Add")">Add New</a>
        </li>
    </ul>
</div>
<div id="content_container">

    <h2>Viewing All Categories(@categories.Count)</h2>

    <div style="width: 90%;margin:auto">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category</th>
                    <th>Module</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in categories) {
                    CurtAdmin.module m =  new CurtAdmin.module();
                    CurtAdmin.DocsLinqDataContext doc_db = new CurtAdmin.DocsLinqDataContext();
                    if (cat.moduleID != 0) {
                        m = (from mods in doc_db.modules where mods.moduleID.Equals(cat.moduleID) select mods).FirstOrDefault<CurtAdmin.module>();
                    }
                    <tr id="cat:@cat.catID">
                        <td style="width:15%">@cat.catID</td>
                        <td style="width:35%">@cat.catName</td>
                        <td style="width: 35%">@m.module1</td>
                        <td style="width: 15%" class="center">
                            <select name="action" id="action:@cat.catID" class="action">
                                <option value="0">Select Action</option>
                                <option value="viewItems">View Items</option>
                                <option value="edit">Edit</option>
                                @if (cat.catID != 1) {
                                    <option value="delete">Remove</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('table').dataTable({
            "bJQueryUI": true
        });

        $('.action').change(function () {
            var action = $(this).val();
            var catID = $(this).attr('id').split(':')[1];
            switch (action) {
                case 'viewItems':
                    window.location.href = '/Admin_Items/ViewCatItems?catID=' + catID;
                    break;
                case 'edit':
                    window.location.href = '/Admin_Category/Edit?cat_id=' + catID;
                    break;
                case 'delete':
                    if (confirm('Are you sure you want to remove this category?')) {
                        $.get('/Admin_Category/RemoveCategory?cat_id=' + catID, function (response) {
                            if (response == '') {
                                $('#cat\\:' + catID).remove();
                                showMessage('Category was removed.');
                            } else {
                                showMessage(response);
                            }
                        });
                    }
                    break;
                default:
                    // DO NOTHING
            }
            $(this).val(0);
        });

        $('.isActive').click(function () {
            var user_id = $(this).attr('id').split(':')[1];
            set_isActive(user_id);
        });
    });
</script>