@{
    ViewBag.Title = "Posts";
    ViewBag.navigation = "_BlogNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.Models.PostWithCategories> posts = ViewBag.posts;
}
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/Blog/Add")">Add Post</a>
    </li>
</ul>

<div id="content_container">

    <h2>Blog Posts</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Published</th>
                <th>Approved<br>Comments</th>
                <th>UnApproved<br>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.Models.PostWithCategories post in posts) {
                <tr>
                    <td>@post.post_title</td>
                    <td>@post.createdDate.ToString()</td>
                    <td>@((post.publishedDate == null) ? "Not Published" : String.Format("{0:M/dd/yyyy} at {0:h:mm tt}", post.publishedDate))</td>
                    <td style="text-align: center;">@post.comments.Count()</td>
                    <td style="text-align: center;">@post.mod_comments.Count()</td>
                    <td>
                        @if (post.publishedDate != null)
                        {
                            <a href="http://www.curtmfg.com/Blog/Post/@(String.Format("{0:M-dd-yyyy}", post.publishedDate))/@(Server.UrlEncode(post.slug))" title="View">View</a> <text>|</text>
                        }
                        <a href="/Blog/Edit/@post.blogPostID" title="Edit">Edit</a> | 
                        <a href="/Blog/Delete/@post.blogPostID" title="Delete" class="delete_post">Delete</a>
                        @if (post.comments.Count() > 0 || post.mod_comments.Count() > 0) {
                            <text>|</text> <a href="/BlogComments/PostComments/@post.blogPostID" title="Moderate Comments">Comments</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/Scripts/admin/blog.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var posttable = $('table').dataTable({
            "bJQueryUI": true,
            "aoColumns": [
            null,
            { "sType": "date" },
            null,
            null,
            null,
            null
        ],
            "aaSorting": [[1, "asc"]]
        });

        $('.delete_post').live('click', function () {
            var path = $(this).attr('href');
            var row = $(this).parent().parent().get()[0];
            if (confirm('Are you sure you want to remove this post?')) {
                $.get(path, function (resp) {
                    if (resp.length == 0) {
                        posttable.fnDeleteRow(row);
                    } else {
                        showMessage(resp);
                    }
                });
            }
            return false;
        });

    });
</script>