<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Admin_Website/")">Content Manager</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Contact/")">Contacts</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_FAQ/")">FAQ</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_News/")">News</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Video/")">Videos</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Testimonial/")">Testimonials</a>
        </li>
    </ul>
</div>
