<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Website/")">Content Manager</a>
        </li>
        <li>
            <a href="@Url.Content("~/Contact/")">Contacts</a>
        </li>
        <li>
            <a href="@Url.Content("~/FAQ/")">FAQ</a>
        </li>
        <li>
            <a href="@Url.Content("~/News/")">News</a>
        </li>
        <li>
            <a href="@Url.Content("~/Video/")">Videos</a>
        </li>
        <li>
            <a href="@Url.Content("~/Testimonial/")">Testimonials</a>
        </li>
    </ul>
</div>
