@{
    ViewBag.Title = "View Documentation Categories";
    ViewBag.navigation = "_DocumentationNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.docCategory> categories = ViewBag.categories;
}
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<ul id="subNav">
    <li class="add">
        <a href="@Url.Content("~/Documentation/AddCategory")">Add New</a>
    </li>
    <li class="clear"></li>
</ul>
<div id="content_container">

    <h2>Viewing All Documentation Categories(@categories.Count)</h2>

    <div style="width: 90%;margin:auto">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category</th>
                    <th># of Items</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CurtAdmin.docCategory cat in categories) {
                    <tr id="cat:@cat.catID">
                        <td style="width:15%">@cat.catID</td>
                        <td style="width:35%">@cat.catName</td>
                        <td style="width:35%">@cat.cat_items.Count</td>
                        <td style="width: 15%" class="center">
                            <select name="action" id="action:@cat.catID" class="action">
                                <option value="0">Select Action</option>
                                <option value="viewItems">View Items</option>
                                <option value="edit">Edit</option>
                                @if (cat.catID != 1) {
                                    <option value="delete">Remove</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">

    $(function () {
        $('table').dataTable({
            "bJQueryUI": true
        });

        $('.action').change(function () {
            var action = $(this).val();
            var catID = $(this).attr('id').split(':')[1];
            switch (action) {
                case 'viewItems':
                    window.location.href = '/Documentation/ViewCatItems?catID=' + catID;
                    break;
                case 'edit':
                    window.location.href = '/Documentation/EditCategory?cat_id=' + catID;
                    break;
                case 'delete':
                    if (confirm('Are you sure you want to remove this category?')) {
                        $.get('/Documentation/RemoveCategory?cat_id=' + catID, function (response) {
                            if (response == '') {
                                $('#cat\\:' + catID).remove();
                                showMessage('Category was removed.');
                            } else {
                                showMessage(response);
                            }
                        });
                    }
                    break;
                default:
                    // DO NOTHING
            }
            $(this).val(0);
        });

        $('.isActive').click(function () {
            var user_id = $(this).attr('id').split(':')[1];
            set_isActive(user_id);
        });
    });
</script>