@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CurtAdmin.docItem item = ViewBag.item;
    List<CurtAdmin.Models.UserComment> comments = ViewBag.comments;
    List<CurtAdmin.document> docs = ViewBag.docs;
}

<div id="content_container">
    <span style="float:right;font-size: 8pt">Last Modified: @Convert.ToDateTime(item.dateModified)</span>
    <h2>@Html.Raw(item.itemName)</h2>

    <p>@Html.Raw(item.itemDescription)</p>

    <h4>Execution Example</h4>
    <p>@Html.Raw(item.executionExample)</p>

    <h4>Result Example</h4>
    <p>@Html.Raw(item.resultExample)</p>

    @if (item.codeLink.Length > 0) {
        <h4>Code Link</h4>
        <p><a href="@item.codeLink">@item.codeLink</a></p>
    }
    
    @Html.Raw(item.itemHTML)
    @if (docs.Count > 0) {
        <h4>Documents</h4>
        <table id="doc_table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Added</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CurtAdmin.document doc in docs) {
                    <tr>
                        <td>@doc.documentTitle</td>
                        <td>@Convert.ToDateTime(doc.dateAdded)</td>
                        <td style="text-align:center">
                            <a href="@doc.documentPath" target="_blank" title="@doc.documentTitle">Download</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h4>Comments</h4>

    @if (comments.Count == 0) {
        <p>No Comments for this item.</p>
    } else {
        foreach (CurtAdmin.Models.UserComment comment in comments) {
            <div class="comment">
                <span class="name">@comment.fname @comment.lname @((comment.isAdmin == 1)?" - Administrator":"")</span>
                <a href="javascript:void(0)" class="comment_reply" id="@comment.commentID">Reply</a><br />
                <div class="comment_text"><span>@comment.comment</span></div>
            </div>
            
            List<CurtAdmin.Models.UserComment> replies = CurtAdmin.Models.Documentation.GetItemCommentReplies(comment.commentID);
            int i = 0;
            while (replies.Count > 0) {
                if (replies.Count < i || replies.Count == i) {
                    i = i - 1;
                }else{
                    <div class="comment" style="margin-left: 2%">
                        <span class="name">@replies[i].fname @replies[i].lname @((replies[i].isAdmin == 1)?" - Administrator":"")</span>
                        <a href="javascript:void(0)" class="comment_reply" id="@replies[i].commentID">Reply</a><br />
                        <div class="comment_text"><span>@replies[i].comment</span></div>
                    </div>
                
                    List<CurtAdmin.Models.UserComment> nextReplies = CurtAdmin.Models.Documentation.GetItemCommentReplies(replies[i].commentID);
                    int j = i + 1;
                    foreach (CurtAdmin.Models.UserComment nextReply in nextReplies) {
                        replies.Insert(j, nextReply);
                        j++;
                    }
                    replies.Remove(replies[i]);
                    i++;
                }
            }
        }
    }

    <div id="newComment" style="display:none">
        <span>Enter comment text</span>
        <textarea rows="3" cols="50" id="newComment_text"></textarea>
    </div>
    <button id="addComment">Add Comment</button>
    <button id="saveComment" style="display:none">Save Comment</button>
    
    <input type="hidden" name="itemID" id="itemID" value="@item.itemID" />
</div>


<script type="text/javascript">
    var reply_html = '<div class="replyComment" style="display:none"><span>Enter comment text</span><textarea rows="3" cols="50" class="replyComment_text"></textarea></div><button class="saveReply" id="0">Save Comment</button>';

    $(document).ready(function () {
        $('#doc_table').dataTable();
        $('#doc_table').css('width', '100%');

        $('#addComment').click(function () {
            $('#newComment').slideDown();
            $('#newComment_text').focus();
            $(this).fadeOut();
            $('#saveComment').fadeIn();
        });

        $('#saveComment').click(function () {
            var itemID = $('#itemID').val();
            var comment = $('#newComment_text').val();
            saveComment(itemID, comment, 0);
        });

        $('.saveReply').live('click', function () {
            var itemID = $('#itemID').val();
            var comment = $(this).parent().find('.replyComment_text').val();
            var parentComment = $(this).attr('id');
            saveComment(itemID, comment, parentComment);
        });

        $('.comment_reply').live('click', function () {
            var parentComment = $(this).attr('id');

            var comment_html = reply_html;
            if ($(this).parent().find('.replyComment').get() > 0) {
                $(this).parent().find('.replyComment:last').after(comment_html);
                $('.saveReply').attr('id', parentComment);
            } else {
                $(this).parent().after(comment_html);
                $('.saveReply').attr('id', parentComment);
            }
            $('.replyComment').slideDown();
            $('.replyComment_text').focus();
        });

    });

    function saveComment(itemID, comment, replyTo){
        // Send ajax request
        $.getJSON('/Documentation/AddComment', { 'item_id': itemID, 'comment': encodeURIComponent(comment), 'replyTo': replyTo }, function (data) {
            if (data.error == '') {

                var admin = (data.isAdmin == 1) ? ' - Administrator' : '';
                if (replyTo == 0) {
                    var html = '<div class="comment">';
                    html += '<span class="name">' + data.fname + ' ' + data.lname + admin + '</span>';
                    html += '<a href="javascript:void(0)" class="comment_reply" id="' + data.commentID + '">Reply</a><br />';
                    html += '<div class="comment_text"><span>' + comment + '</span></div>';
                    html += '</div>';
                    if ($('.comment').get() > 0) {
                        $('.comment:last').after(html);
                    } else {
                        $('#newComment').before(html);
                    }
                    resetComment();
                } else {
                    var html = '<div class="comment" style="margin-left: 2%">';
                    html += '<span class="name">' + data.fname + ' ' + data.lname + admin + '</span>';
                    html += '<a href="javascript:void(0)" class="comment_reply" id="' + data.commentID + '">Reply</a><br />';
                    html += '<div class="comment_text"><span>' + comment + '</span></div>';
                    html += '</div>';
                    $('#' + replyTo).parent().after(html);
                    resetReply();
                }
                $('.replyComment').remove();
            } else {
                alert('There was error while submitting your comment.');
            }
        });
    }

    function resetComment() {
        $('#newComment').slideUp();
        $('#newComment_text').val('');
        $('#addComment').show();
        $('#saveComment').hide();
    }

    function resetReply() {
        $('.saveReply').hide();
        $('.replyComment').slideUp();
        $('.replyComment_text').val('');
        $('.saveReply').attr('id', '0');
    }
</script>