@{
    ViewBag.Title = "Modify ACES Types";
    ViewBag.navigation = "_VehicleNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.AcesType> types = ViewBag.types ?? new List<CurtAdmin.AcesType>();
}
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/ACES/Vehicles")">View Vehicles</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigAttributes")">View Configuration Attributes</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigTypes")">View Configuration Types</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ACESTypes")" class="active">View ACES Types</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/ACES/AddACESType")">Add New</a>
    </li>
</ul>
<div id="content_container">
    <h2>Manage ACES Types</h2>
    <table id="AcesTypes">
        <thead>
            <tr>
                <th>type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.AcesType type in types) {
                <tr id="typeRow:@type.ID">
                    <td>@type.name</td>
                    <td><a href="/ACES/EditACESType/@type.ID" class="edit" data-id="@type.ID">Edit</a>@((type.count == 0) ?  Html.Raw(" | <a href=\"/Aces/RemoveACESType/" + type.ID + "\" class=\"removeACESType\" data-id=\"" + type.ID + "\">Remove</a>") : null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="/Scripts/admin/ACES/AcesTypes.js"></script>