@{
    ViewBag.Title = "Add ACES Vehicle";
    ViewBag.navigation = "_VehicleNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.AAIA.Make> makes = ViewBag.makes ?? new List<CurtAdmin.AAIA.Make>();
    List<int> years = ViewBag.years ?? new List<int>();
    List<CurtAdmin.Models.ACESMake> allmakes = ViewBag.allmakes ?? new List<CurtAdmin.Models.ACESMake>();
    List<CurtAdmin.Models.ACESMake> allmodels = ViewBag.allmodels ?? new List<CurtAdmin.Models.ACESMake>();
    List<CurtAdmin.Models.ACESMake> allsubmodels = ViewBag.allsubmodels ?? new List<CurtAdmin.Models.ACESMake>();
    string error = ViewBag.error ?? "";
}
<style type="text/css">
    .col{
        min-width: 15%;
        border-right: 1px dotted #ccc;
        padding: 0px 5px;
        float:left;
        max-height: 150px;
    }
    
    #col4{
        border-right: none;
    }
    
    .addImg, .delImg, .editImg{
        width: 20px;
        height: 20px;
        vertical-align: top;
        display: none;
        cursor: pointer;
    }
    
    .prompt_text{
        width:90%;
        border:2px solid #343434;
        border-radius:4px 4px 4px;
        height: 25px;
        line-height: 21px;
        padding: 2px;
    }
</style>
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/ACES/Vehicles")">View Vehicles</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigAttributes")">View Configuration Attributes</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigTypes")">View Configuration Types</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ACESTypes")">View ACES Types</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/ACES/AddVehicle")" class="active">Add New</a>
    </li>
</ul>

<div id="content_container">
    <h2>Add Vehicle</h2>
    @if (error != "") {
        <p>@error</p>
    }
    <div id="tabs">
        <ul class="tabs"><li><a href="#vcdb">VCDB</a></li><li><a href="#nonvcdb">Non-VCDB</a></li></ul>
        <div id="vcdb">
            <h3>VCDB Vehicles</h3>
            <select id="vcdbmake" name="make">
                <option value="">Select a Make</option>
                @foreach (CurtAdmin.AAIA.Make make in makes) {
                    <option value="@make.MakeID">@make.MakeName</option>
                }
            </select>

            <select id="vcdbmodel" name="model" disabled="disabled">
                <option value="">Select a Model</option>
            </select>
            <button id="find">Find</button>
            <img id="loading" src="/Content/img/ajax_loader.gif" alt="Loading..." style="display: none;" />
            <ul class="vehicles" id="vehicleData"></ul>
        </div>
        <div id="nonvcdb">
            <h3>Non-VCDB Vehicles</h3>
            <form action="/ACES/AddNonVCDBVehicle" method="post" id="Addnonvcdb">
                <div id="col1" class="col">
                    <label for="nonyear">
                        Year<br />
                        <select name="year" id="nonyear" required>
                            <option value="">- Select Year -</option>
                            @foreach (int y in years) {
                                <option value="@y">@y</option>
                            }
                        </select>
                        <img src="@Url.Content("~/Content/img/button_green_add.png")" class="addImg" id="addYear" alt="Add New Year" title="Add New Year" />
                        <img src="@Url.Content("~/Content/img/trash.png")" class="delImg" id="delYear" alt="Delete Year" title="Delete Year" />
                    </label>
                </div>

                <div id="col2" class="col">
                    <label for="nonmake">
                        Make<br />
                        <select name="make" id="nonmake" required>
                            <option value="">- Select Make -</option>
                            @foreach (CurtAdmin.Models.ACESMake m in allmakes) {
                                <option value="@m.ID|@(m.AAIAID ?? 0)">@m.name</option>
                            }
                        </select>
                        <img src="@Url.Content("~/Content/img/button_green_add.png")" class="addImg" id="addMake" alt="Add New Make" title="Add New Make" />
                        <img src="@Url.Content("~/Content/img/edit.png")" class="editImg" id="editMake" alt="Edit Make" title="Edit Make" />
                        <img src="@Url.Content("~/Content/img/trash.png")" class="delImg" id="delMake" alt="Delete Make" title="Delete Make" />
                    </label>
                </div>

                <div id="col3" class="col">
                    <label for="nonmodel">
                        Model<br />
                        <select name="model" id="nonmodel" required>
                            <option value="">- Select Model -</option>
                            @foreach (CurtAdmin.Models.ACESMake m in allmodels) {
                                <option value="@m.ID|@(m.AAIAID ?? 0)">@m.name</option>
                            }
                        </select>
                        <img src="@Url.Content("~/Content/img/button_green_add.png")" class="addImg" id="addModel" alt="Add New Model" title="Add New Model" />
                        <img src="@Url.Content("~/Content/img/edit.png")" class="editImg" id="editModel" alt="Edit Model" title="Edit Model" />
                        <img src="@Url.Content("~/Content/img/trash.png")" class="delImg" id="delModel" alt="Delete Model" title="Delete Model" />
                    </label>
                </div>

                <div id="col4" class="col">
                    <label for="nonsubmodel">
                        Submodel (optional)<br />
                        <select name="submodel" id="nonsubmodel">
                            <option value="">- Select Submodel -</option>
                            @foreach (CurtAdmin.Models.ACESMake m in allsubmodels) {
                                <option value="@m.ID|@(m.AAIAID ?? 0)">@m.name</option>
                            }
                        </select>
                        <img src="@Url.Content("~/Content/img/button_green_add.png")" class="addImg" id="addSubmodel" alt="Add New Submodel" title="Add New Submodel" />
                        <img src="@Url.Content("~/Content/img/edit.png")" class="editImg" id="editSubmodel" alt="Edit Submodel" title="Edit Submodel" />
                        <img src="@Url.Content("~/Content/img/trash.png")" class="delImg" id="delSubmodel" alt="Delete Submodel" title="Delete Submodel" />
                    </label>
                </div>
                <span class="clear"></span>
                <div id="buttons">
                    <input type="submit" name="btnSave" id="btnSave" value="Save" />
                    <input type="reset" name="btnReset" id="btnReset" value="Reset" />
                </div>
                <span class="clear"></span>
            </form>
        </div>
    </div>
</div>

<script src="/Scripts/admin/ACES/addvehicle.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-impromptu.4.0.min.js")"></script>
