@{
    ViewBag.Title = "Modify Configuration Attributes";
    ViewBag.navigation = "_VehicleNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.ConfigAttribute> attributes = ViewBag.attributes ?? new List<CurtAdmin.ConfigAttribute>();
}
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/ACES/Vehicles")">View Vehicles</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigAttributes")" class="active">View Configuration Attributes</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigTypes")">View Configuration Types</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ACESTypes")">View ACES Types</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/ACES/AddConfigurationAttribute")">Add New</a>
    </li>
</ul>
<div id="content_container">
    <h2>Manage Configuration Attributes</h2>
    <table id="ConfigAttributes">
        <thead>
            <tr>
                <th>Value</th>
                <th>Configuration Type</th>
                <th>ACES Type</th>
                <th>Vehicles w/attr</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.ConfigAttribute attribute in attributes) {
                <tr id="typeRow:@attribute.ID">
                    <td>@attribute.value</td>
                    <td>@attribute.ConfigAttributeType.name</td>
                    <td>@((attribute.ConfigAttributeType.AcesTypeID != null) ? attribute.ConfigAttributeType.AcesType.name : "")</td>
                    <td>@attribute.count</td>
                    <td><a href="/ACES/EditConfigurationAttribute/@attribute.ID" class="edit" data-id="@attribute.ID">Edit</a>@((attribute.count == 0) ? Html.Raw(" | <a href=\"/ACES/SaveConfigurationAttribute/" + attribute.ID + "\" class=\"remove\" data-id=\"" + attribute.ID + "\">Remove</a>") : null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="/Scripts/admin/ACES/ConfigAttributes.js"></script>