@{
    ViewBag.Title = "Index";
    ViewBag.navigation = "_VehicleNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? updatedVehicles = ViewBag.updatedVehicles;
}
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/ACES/Vehicles")">View Vehicles</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigAttributes")">View Configuration Attributes</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ConfigTypes")">View Configuration Types</a>
    </li>
    <li>
        <a href="@Url.Content("~/ACES/ACESTypes")">View ACES Types</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/ACES/AddVehicle")">Add New</a>
    </li>
    <li class="add">
        <a href="@Url.Content("~/ACES/RunVehicleCheck")" class="active">Run Check</a>
    </li>
</ul>
<div id="content_container">
    <h2>Match up Non-VCDB Vehicles to the VCDB</h2>
    @if (updatedVehicles != null) {
        <p style="color: green; font-weight: bold;">@updatedVehicles Base Vehicles matched up to ACES format.</p>
    }
    <p>This process it to be run after the VCDB has been updated.</p>
    <a href="/ACES/RunCheck">Run Process</a>
</div>
