@{
    ViewBag.Title = "Posts";
    ViewBag.navigation = "_BlogNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.Models.CommentWithPost> comments = ViewBag.comments;
}
<div id="content_container">

    <h2>Blog Comments</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Approved</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.Comment comment in comments) {
                <tr>
                    <td>@comment.name</td>
                    <td>@comment.email</td>
                    <td>@comment.createdDate.ToString()</td>
                    <td>@((comment.approved == true) ? "Yes" : "No")</td>
                    <td>
                        <a href="/Admin_BlogComments/ViewComment/@comment.commentID" title="View">View</a> | 
                        <a href="/Admin_BlogComments/Approve/@comment.commentID" title="Approve">Approve</a> | 
                        <a href="/Admin_BlogComments/Delete/@comment.commentID" title="Delete" data-id="@comment.commentID" class="delete_comment">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/Scripts/admin/blog.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var commentTable = $('table').dataTable({
            "bJQueryUI": true,
            "aoColumns": [
            null,
            null,
            { "sType": "date" },
            null,
            null
        ],
            "aaSorting": [[2, "asc"]]
        });

        $('.delete_comment').live('click', function () {
            var comment_id = $(this).attr('data-id');
            var table_row = $(this).parent().parent().get()[0];
            if (comment_id > 0 && confirm("Are you sure you want to remove this Comment?")) {
                $.getJSON('/Admin_BlogComments/Delete/' + comment_id, function (resp) {
                    if (resp.error == undefined) {
                        commentTable.fnDeleteRow(table_row);
                        showMessage('Comment removed.');
                    } else {
                        showMessage(resp.error);
                    }
                });
            }
            return false;
        });
    });
</script>