@using CurtAdmin;
@{
    ViewBag.Title = "AddAuthArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AuthDomain domain = ViewBag.domain ?? new AuthDomain();
}
<style>
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px; 
        margin-top:10px; 
    }
</style>

<div id="breadcrumbs">
    <a href="/Customers">Customers</a> > <a href="/Customers/ViewAuthModules">View Authorization Domain Modules</a> > <a href="/Customers/ViewAuthAreas?domainID=@domain.id">View Authorization Areas</a> > Edit Authorization Area
</div>

<div id="content_container">
    <h2>Add Authorization Area for @domain.name </h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    <form action="/Customers/AddAuthArea" method="post" class="form_left">
        <label for="name">Name
            <input type="text" name="name" id="name" placeholder="Example: B2B University" required />
        </label>

        <label for="path">Path:
            <input type="text" name="path" id="path" placeholder="Example: /B2B/" required />
        </label>
        <input type="hidden" name="domainID" id="domainID" value="@domain.id" />

        <label for="parent">Parent Area
            <select name="parent" id="parent">
                <option value="" selected>No Parent</option>
                @foreach(AuthArea area in domain.AuthAreas){
                    <option value="@area.id">@area.getBreadCrumbsPath()</option>
                }
            </select>

        </label>

        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Add" />
            <input type="reset" name="btnReset" id="btnReset" value="Clear" />
        </div>
    </form>
</div>
