@using CurtAdmin;
@{
    ViewBag.Title = "EditAuthArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AuthArea area = ViewBag.area ?? new AuthArea();
    string success = ViewBag.success ?? "";
}
<style>
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px; 
        margin-top:10px; 
    }
</style>

<div id="breadcrumbs">
    <a href="/Customers">Customers</a> > <a href="/Customers/ViewAuthModules">View Authorization Domain Modules</a> > <a href="/Customers/ViewAuthAreas?domainID=@area.DomainID">View Authorization Areas</a> > Edit Authorization Area
</div>

<div id="content_container">
    <h2>Edit Authorization Area: @area.name</h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    @if (success != "") {
        <p style="color:#12990c">@success</p>
    }

    <form action="/Customers/EditAuthArea?areaID=@area.id" method="post" class="form_left">
        <label for="name">Name
            <input type="text" name="name" id="name" placeholder="Example: B2B University" value="@area.name" required />
        </label>

        <label for="path">Path:
            <input type="text" name="path" id="path" placeholder="Example: /B2B/" value="@area.path" required />
        </label>
        <input type="hidden" name="areaID" id="areaID" value="@area.id" />

        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
        </div>
    </form>
</div>