@{
    ViewBag.Title = "View Web Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CurtAdmin.WebProperty> webProperties = ViewBag.webProperties ?? new List<CurtAdmin.WebProperty>();
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>

<div id="content_container">
    <h2>All Web Properties (@webProperties.Count)</h2>
    <strong>Pending Date Color Codes:</strong> ( Web Property needs to be approved or denied. )
        <ul>
            <li><a href="#" title="green" class="searchByColor" style="color:green;">Green:</a> 8-90 Days Left</li>
            <li><a href="#" title="orange" class="searchByColor" style="color:orange;">Orange:</a>1-7 days left</li>
            <li><a href="#" title="red" class="searchByColor" style="color:red;">Red:</a>0 Days left</li>    
        </ul>
    <p><em><strong>Tip:</strong> You can filter based on color by typing in the color in the search bar.</em></p>
        
    <div style="width: 100%;margin:auto">
        <table style="width: 100% !important">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Seller ID</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>CustomerID</th>
                    <th>Is Customer</th>
                    <th>Badge ID</th>
                    <th>Approved Pending</th>
                    <th>Pending Date</th>
                    <th>Officially Approved</th>
                    <th>Rejected</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CurtAdmin.WebProperty wp in webProperties) {
                    <tr id="webProperty:@wp.id">
                        <td>@wp.name</td>
                        <td style="word-wrap:break-word; word-break:break-all;">@wp.url</td>
                        <td>@wp.sellerID</td>
                        <td>@if(wp.typeID !=0){@wp.WebPropertyTypes.type}</td>
                        <td>@wp.CustUserWebProperty.CustomerUser.email</td>
                        <td>@wp.CustUserWebProperty.CustomerUser.customerID</td>
                        @if(wp.CustUserWebProperty.CustomerUser.notCustomer == false){
                        <td>Yes</td>
                        }else{
                        <td>No</td>   
                        }
                        <td>@wp.badgeID</td>
                        <td class="center">
                            <input type="checkbox" name="isEnabled" @((wp.isEnabled) ? "title='yes'" : "title='no'") id="isEnabled:@wp.id" class="isEnabled" value="1" @((wp.isEnabled) ? "checked" : "") />
                        </td>
                        <td>
                            @{
                             string originalDateString = wp.isEnabledDate.ToString();
                             DateTime original = Convert.ToDateTime(wp.isEnabledDate);
                             }
                            @if (originalDateString.Length != 0 && DateTime.Now > (original.AddDays(90)))
                            {
                                <span style="color:red;">@wp.isEnabledDate</span>
                            }
                            else if (originalDateString.Length != 0 && DateTime.Now > (original.AddDays(83)))
                            {
                                <span style="color:orange;">@wp.isEnabledDate</span>
                            }else{
                                if (originalDateString.Length != 0)
                                {
                                <span style="color:green;">@wp.isEnabledDate</span>
                                }
                            }
                        </td>
                        <td class="center">
                            <input type="checkbox" name="isFinalApproved" id="isFinalApproved:@wp.id" class="isFinalApproved" value="1" @((wp.isFinalApproved) ? "checked" : "") />
                        </td>
                        <td>
                            <input type="checkbox" name="isDenied" id="isDenied:@wp.id" class="isDenied" value="1" @((wp.isDenied) ? "checked" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/webPropertiesEnabled.js")"></script>
<script>
    $(document).ready(function () {



    });


</script>