@{
    ViewBag.Title = "View Web Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CurtAdmin.WebProperty> webProperties = ViewBag.webProperties ?? new List<CurtAdmin.WebProperty>();
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>

<div id="content_container">
    <h2>All Web Properties (@webProperties.Count)</h2>

    <div style="width: 90%;margin:auto">
        <table style="width: 100% !important">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Seller ID</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>CustomerID</th>
                    <th>Is Customer</th>
                    <th>Badge ID</th>
                    <th>Is Approved</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CurtAdmin.WebProperty wp in webProperties) {
                    <tr id="webProperty:@wp.id">
                        <td>@wp.name</td>
                        <td>@wp.url</td>
                        <td>@wp.sellerID</td>
                        <td>@if(wp.typeID !=0){@wp.WebPropertyTypes.type}</td>
                        <td>@wp.CustUserWebProperty.CustomerUser.email</td>
                        <td>@wp.CustUserWebProperty.CustomerUser.customerID</td>
                        @if(wp.CustUserWebProperty.CustomerUser.notCustomer == false){
                        <td>Yes</td>
                        }else{
                        <td>No</td>   
                        }
                        <td>@wp.badgeID</td>
                        <td class="center">
                            <input type="checkbox" name="isEnabled" id="isEnabled:@wp.id" class="isEnabled" value="1" @((wp.isEnabled) ? "checked" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/webPropertiesEnabled.js")"></script>
