@{
    ViewBag.Title = "API v2 Analytics";
    ViewBag.navigation = "_MiscNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.APIAnalytic> data = ViewBag.data ?? new List<CurtAdmin.APIAnalytic>();
    int page = ViewBag.pagenum ?? 1;
    int perpage = ViewBag.perpage ?? 100;
}
<style type="text/css">
    table {
        border-collapse: collapse;
        font-size: 12px;
    }
    table tbody td {
        border: 1px solid #B4B4B4;
        padding: 3px;
    }
    table tbody tr:nth-child(even) {
        background-color: #f1f1f1;
    }

</style>

<div id="content_container">
    <h2>API v2 Analytics</h2>
    <div style="clear:both"></div>

    <table>
        <thead>
            <tr>
                <th>Host</th>
                <th>IP Address</th>
                <th>Referrer</th>
                <th>Method</th>
                <th>Http Method</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.APIAnalytic d in data) {
                <tr>
                    <td>@((d.IPtoDNS.dnsentry != null) ? d.IPtoDNS.dnsentry : "Unknown")</td>
                    <td>@d.IPtoDNS.ipaddress</td>
                    <td>@((d.referrer != null && d.referrer != "") ? new Uri(d.referrer).Host : "")</td>
                    <td>@d.method</td>
                    <td>@d.HttpMethod</td>
                    <td>@String.Format("{0:MM/dd/yyyy hh:mm:ss tt}", d.date)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">@((page > 1) ? Html.Raw("<a href=\"/Misc/APIAnalytics?page=" + (page - 1) + "&perpage=" + perpage + "\">&lt; Prev</a>") : Html.Raw(""))
                    <a style="float:right;" href="/Misc/APIAnalytics?page=@(page + 1)&perpage=@perpage">Next &gt;</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
