@{
    ViewBag.Title = "FullList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_wrapper{
        width: 95% !important;
        margin: auto;
    }
    
    #addNew{
        margin-left: 15px;
        color: #343434;
        font-weight: bold;
        font-size: 13pt;
        padding: 3px;
    }
    
    #addNew:hover{
        background: #444;
        color: White;
    }
    
    .form_left{
        display: none;
        margin-left: 15px;
        background: #343434;
        color: White;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    #user_form{
        display: none;
        margin-left: 15px;
        background: #343434;
        color: White;
        padding: 10px;
        margin-bottom: 20px;
        width: 50%;
    }
    
    #user_form table{
        color: black;
    }
    
    #user_form table td:nth-child(3){
        text-align: center;
    }
    
    #btnClose{
        background: url('/Content/img/save.png');
        background-repeat: no-repeat;
        color: White;
        font-size: 14pt;
        font-weight: bold;
        border: none;
        width:125px;
        height: 49px;
        cursor:pointer;
        margin-left: 70%;
        margin-top: -50px;
    }
    
    .form_left input{ line-height: 40px; }
</style>

<h2>Available Resources</h2>

<a href="javascript:void(0)" title="Add New Resource" id="addNew">Add New Resource</a>
<hr />

<form action="@HttpContext.Current.Request.Url.AbsoluteUri" method="post" id="add_form" class="form_left">
    <label for="resource_name">
        Resource Name
        <input type="text" name="resource_name" id="resource_name" placeholder="Enter the name of this resource..." required />
    </label>

    <label for="resource_url">
        Resource URL
        <input type="url" name="resource_url" id="resource_url" placeholder="Enter the web address of this resource..." />
    </label>

    <label for="resource_username">
        Username
        <input type="text" name="resource_username" id="resource_username" placeholder="Enter the username to login..." />
    </label>

    <label for="resource_password">
        Password
        <input type="text" name="resource_password" id="resource_password" placeholder="Enter the password to login..." />
    </label>

    <label for="comments">
        Comments<br />
        <textarea name="comments" id="comments" rows="5" cols="60" placeholder="Enter a brief description of this resource"></textarea>
    </label>
    <div id="buttons">
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
        <input type="reset" name="btnReset" id="btnReset" value="Clear" />

        <input type="hidden" name="resourceID" id="resourceID" value="0" />
    </div>
</form>

<form id="user_form" action="@HttpContext.Current.Request.Url.AbsoluteUri" method="post">
    <label for="newUser">
        Add User
        <select id="newUser">
            <option value="0">- Select User -</option>
            @foreach (CurtAdmin.user user in ViewBag.users) {
                <option value="@user.userID">@user.fname @user.lname</option>
            }
        </select>
        <input type="button" name="btnAddUser" id="btnAddUser" value="Add User" />
    </label>
    <table id="user_table">
        <thead>
            <tr>
                <th>User</th>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <input type="hidden" name="user_resourceID" id="user_resourceID" value="0" />
    <input type="button" name="btnClose" id="btnClose" value="Close" />
</form>

<table id="resource_table">
    <thead>
        <tr>
            <th>Resource Name</th>
            <th>Resource Path</th>
            <th>Username</th>
            <th>Password</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CurtAdmin.resource_listing listing in ViewBag.listings) {
            <tr>
                <td>@listing.resource_name</td>
                <td>@listing.resource_url</td>
                <td>@listing.username</td>
                <td>@listing.password</td>
                <td>@listing.comments</td>
                <td>
                    <select class="action" id="@listing.resourceID">
                        <option value="">- Select Action -</option>
                        <option value="edit">Edit</option>
                        <option value="users">Manage Users</option>
                        <option value="delete">Remove</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="@Url.Content("~/Scripts/admin/resource_admin.js")"></script>

